<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BroadageSportsEntities" connectionString="metadata=res://*/Entity.BroadageSportsModel.csdl|res://*/Entity.BroadageSportsModel.ssdl|res://*/Entity.BroadageSportsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BroadageSports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BroadageSportsEntities1" connectionString="metadata=res://*/Entity.BroadageSportsCaseModel.csdl|res://*/Entity.BroadageSportsCaseModel.ssdl|res://*/Entity.BroadageSportsCaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BroadageSports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>